{% block navbar %}

{% if  app.request.uri  == 'http://localhost:8000/homepage'%}
    <header class="header page-home">
{% elseif app.request.uri  == 'http://localhost:8000/contact'%}
    <header class="header page-contact">
{% else %}
    <header class="header page-projets">
{% endif %}
        <div class="background-home"></div>
        <video width="400" height="222" autoplay muted>
          <source src="http://www.mazwai.com/system/posts/videos/000/000/096/original/davide_quatela--people_in_frankfurt.mp4?1409054500" type="video/mp4" />
          <source src="http://www.mazwai.com/system/posts/videos/000/000/096/original/davide_quatela--people_in_frankfurt.mp4?1409054500" type="video/webm" />
        </video>

        <h1 class="logo">
            <a href="/homepage">
                <img src="{{ asset('bundles/findworker/images/general/logo.png') }}" alt="FindWorker"/>
                <span>FindWorker</span>
            </a>
        </h1>

        <a href="#" class="disable menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="menu">
            <a href="#" class="menu-close">
                <span></span>
                <span></span>
            </a>
            <ul class="menu-list">
                <li class="menu-item active">
                    <a href="/homepage">Accueil</a>
                </li>
                <li class="menu-item">
                    <a href="/profiles/search">Rechercher un profil</a>
                </li>
                <li class="menu-item">
                    <a href="/projects/list">Rechercher un projet</a>
                </li>
                <li class="menu-item">
                    <a href="/contact">Contact</a>
                </li>
                <li class="menu-item add-offer">
                    <a href="/projects/new">créer un projet</a>
                </li>
            </ul>
        </div>
{% endblock %}
