{% block navbar %}

  <header class="header page-home">
        <h1 class="logo">
            <a href="./">
                <img src="{{ asset('bundles/findworker/images/general/logo.png') }}" alt="FindWorker"/>
                <span>FindWorker</span>
            </a>
        </h1>

        <a href="#" class="disable menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="menu">
            <a href="#" class="menu-close">
                <span></span>
                <span></span>
            </a>
            <ul class="menu-list">
                <li class="menu-item active">
                    <a href="/homepage">Accueil</a>
                </li>
                <li class="menu-item">
                    <a href="/profiles/search">Rechercher un profil</a>
                </li>
                <li class="menu-item">
                    <a href="/contact">Contact</a>
                </li>
                <li class="menu-item">
                    <a href="/projects/new">Déposer une offre</a>
                </li>
            </ul>
        </div>


{% endblock %}