{% extends "FindWorkerBundle::layout.html.twig" %}

{% block content %}
        <div class="header-title">
            <h2>
                Rechercher le profil qui vous <span>correspond</span>
            </h2>
            <a href="/profiles/search" class="header-start">Commencer votre recherche</a>
        </div>

    </header>

        <div class="home">
        <div class="wrapper">
            <h3>Qui sommes-nous</h3>

            <p>
               FindWorker vous permet de mettre en avant vos projets et de vous aider à trouver les meilleurs profils actifs sur les différentes platformes communautaires du Web.<br>
               Vous pourrez également rechercher des projets affinés par compétences et ainsi intégrer un projet. 
            </p>

            <a href="/contact">
                Contactez-nous
            </a>
        </div>
    </div>

{% endblock %}