{% extends "FindWorkerBundle::layout.html.twig" %}



{% block content %}

</header>
<div class="wrapper">
    <div class="search">
    <div class="line-page">
        <span>RECHERCHER LE PROFIL</span>
        <br/>QUI VOUS <strong>CORRESPOND</strong>
    </div>

    {{ form_start(form,  {'attr': {'class': 'search-form'}}) }}

	    {{ form_errors(form) }}
        <div class="all-competences"></div>
	    {{ form_widget(form) }}
        <div class="clearfix"></div>

    {{ form_end(form) }}
</div>
</div>
{% endblock %}

