{% extends "FindWorkerBundle::layout.html.twig" %}

{% block content %}

</header>
 <div class="wrapper">
           <div class="form-projet-container">
    {{ form(form, {'attr' : {'class' : 'form-projet'} }) }}
</div>
</div>
{% endblock %}